* {

}

body {
  margin: 0px;
}

#title {
  background-color: rgb(230, 215, 224);
  font-style: italic;
  }
  
header {
  padding: 0px;  
  display: flex;
  background-color: rgb(184, 184, 184);
}
/* header img {
 float: inline-start;

}
 */

nav {
  display: flex; 
  background-color: rgb(207, 189, 224); 
  justify-content: flex-end;
}

nav a {
color: rgb(30, 0, 96);
padding: 11px 13px;
text-decoration: none;
text-align: center;
border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: aqua;
}

/* this section is for the about me portion of the page */

.container {
  display: flex;
  align-items: center;
}

.about-me {
  flex: 1;
  margin-left: 10px;
  text-align: left;

  background-color: lightgoldenrodyellow;
  justify-content: end;
}

textarea {
 padding-left: 20px;
}

.profile-img {
  float: right;
  padding-right:20px;

}

/* this section is for the carousel of webpages */

.photo-section {

}

.caption {

}

.arrow-left {

}

.arrow-right {

}

.grid {

}

.description {

}

.image {

}

#software {

}

/* got assistance from phind on this one, its purpose is to allow the image to change positions when page size changes  */

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* stack the items vertically */
  }

  .text-block {
    margin-left: 0; /* remove the spacing between the image and text */
  }
}