* {

}

body {
  margin: 0px;
}

#title {
  background-color: aqua;
  font-style: italic;

  }
  
header {
  padding: 0px;  
  display: flex;
  background-color: rgb(184, 184, 184);
}


nav {
  display: flex; 
  background-color: rgb(207, 189, 224); 
  justify-content: flex-end;
}

nav a {
color: rgb(30, 0, 96);
padding: 11px 13px;
text-decoration: none;
text-align: center;


}
#about {
    background-color: lightgray;
}
.profile {

}

.photos {

}

.caption {

}

.arrow-left {

}

.arrow-right {

}

.grid {

}

.description {

}

.image {

}

#software {

}