* {

}

body {
  margin: 0px;
}

#title {
  background-color: rgb(230, 215, 224);
  font-style: italic;
  }
  
header {
  padding: 0px;  
  display: flex;
  background-color: rgb(184, 184, 184);
}
/* header img {
 float: inline-start;

}
 */

/* navigation buttons */

nav {
  display: flex; 
  background-color: rgb(207, 189, 224); 
  justify-content: flex-end;
}

nav a {
color: rgb(30, 0, 96);
padding: 11px 13px;
text-decoration: none;
text-align: center;
border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: aqua;
  margin-left: 2px;
  
}

/* button hover */
nav a:hover { 
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(101, 116, 116);
}

/* button click */
nav a:active { 
  border: 1px solid rgb(255, 0, 0);
  padding: 3px 8px;
  border-radius: 15px;
  background-color: rgb(101, 116, 116);
  margin-left: 3px;
  margin-right: 3px;
}
/* this section is for the about me portion of the page */

.container {
  display: flex;
  align-items: center;
}

.about-me {
  flex: 1;
  padding-left: 10px;
  text-align: left;

  background-color: lightgoldenrodyellow;
  justify-content: end;
}

textarea {
 padding-left: 20px;
}

.profile-img {
  float: right;
  padding-right:20px;

}

/* this section is for the carousel of webpages */

.photos {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  text-align: center;
  margin-left: 50px;
}

.photo-section {
  flex: 0 0 30%; /* Each section takes 30% of the container width */
  align-items:center; /* vertically center the items */
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-section img {
  border: 2px solid green;
}

.photo-section img:hover {
  border: 2px solid rgb(104, 252, 104);
}

.caption {
  flex: 1; /* allow the text block to grow and shrink */
  margin-left: 10px; /* add some spacing between the image and text */
}

.arrow {

}

.photos a h3 {

}

.wrapper {
  text-align: center;
  
}

.wrapper a {
  
}


.grid {

}

.description {

}

.image {

}

#software {

}

/* got assistance from phind on this one, its purpose is to allow the image to change positions when page size changes  */

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* stack the items vertically */
  }

  .text-block {
    margin-left: 0; /* remove the spacing between the image and text */
  }
}