* {

}
/* defines re-used colors */
:root {
  --deep-orange : rgb(243, 125, 42);
  --light-orange : rgb(255, 132, 65);
  --lightest-orange : rgb(245, 183, 150);
  --lightest-blue : rgb(181, 222, 223);
  --light-blue : rgb(110, 237, 231);
  --teal : rgb(33, 229, 200);
  --darker-than-my-soul : rgb(26, 88, 108);
}


/* set body margins */
body {
  margin: 0px;
}

/* title text styling */
#title {
  font-style: italic;
  margin: 0;
  padding-top: 20px;
  padding-right: 12px;
 padding-left: 15px;
}
  
/* set basic header layout */
header section{
  padding: 0px;  
  display: flex;
  background-color: var(--lightest-blue);
  justify-content: space-between;
}

header section div {
  padding: 8px;  
  display: flex;
  align-content: flex-start;
}




/* main navigation buttons */


header nav {
  display: flex; 
  background-color:var(--lightest-blue); 
  margin-top: 25px;
  align-content: flex-end;
}
/* what is button */
button.options {
  color: rgb(30, 0, 96);
  padding: 11px 13px;
  text-decoration: none;
  text-align: center;
  border: 3px solid var(--lightest-blue);
  padding: 5px 10px;
  background-color: var(--lightest-blue);
  font-size: medium;
}
/* button hover */
.options:hover { 
  border: 3px solid var(--light-blue);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--lightest-blue);
  
}
/* button click */
.options:active { 
  border: 1px solid rgb(255, 0, 234);
  padding: 3px 8px;
  border-radius: 15px;
  background-color: rgb(101, 116, 116);
  margin-left: 3px;
  margin-right: 3px;
}


/* menu button for when page is shrunk */

button.menu-button {
  color: rgb(30, 0, 96);
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 5px 13px;
  border-radius: 15px;
  background-color: aqua;
  font-size: large;
  cursor: pointer;
}
.menu-button:hover { 
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(101, 116, 116);
}
.menu-button:active {
  border: 1px solid rgb(0, 0, 0);
  padding: 3px 7px;
  border-radius: 15px;
  background-color: rgb(101, 116, 116);
}


/* this should be the box of more options that pops up when you click the button */

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.menu-button:focus .menu{
  display: block;
}
.more-options {
  display: block;
  margin-bottom: 5px;
}
button.more-options {

}
/* button hover */
.more-options:focus { 
  
}
/* button click */
.more-options:active { 

}


/* this section is for the about me portion of the page */
.container {
  display: flex;
  align-items: center;
}
.about-me { 
  flex: 1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: lightgoldenrodyellow;
  justify-content: end;
  border-bottom: 15px solid grey;
  border-top: 15px solid grey;
}
textarea {
 padding-left: 20px;
}
.profile-img {
  float: right;
  padding-right:20px;
}


/* this section is for the carousel of webpages */
.photos {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  text-align: center;
}
.photo-section {
  flex: 1 0 200px; /* Each section takes 30% of the container width */
  align-items:center; /* vertically center the items */
  margin-top: 20px;
  margin-bottom: 20px;
}
.photo-section img {
  
  border: 2px solid green;
  border-radius: 15px;
  background-color: lightblue;
  padding: 12px;
} 
.photo-section img:hover {
  border: 2px solid rgb(104, 252, 104);
}
.caption {
  flex: 1; /* allow the text block to grow and shrink */
  margin-left: 10px; /* add some spacing between the image and text */ 
}

/*  this is the button that will navigate to a new page with a grid of the projects */
.center-button {
  text-align: center;
}
button.see-all-button {
  color: rgb(30, 0, 96);
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 5px 13px;
  border-radius: 15px;
  background-color: aqua;
  margin-left: 2px;
  font-size: large;
  cursor: pointer;
  }
.see-all-button:active {
  border: 1px solid rgb(0, 0, 0);
  padding: 3px 8px;
  border-radius: 15px;
  background-color: rgb(101, 116, 116);
  margin-left: 3px;
  margin-right: 3px;
}
.see-all-button:hover { 
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(101, 116, 116);
}
.see-all-button:active {
  border: 1px solid rgb(0, 0, 0);
  padding: 3px 8px;
  border-radius: 15px;
  background-color: rgb(101, 116, 116);
}
     
/* these are the arrow buttons on either side of the carousel */
/* got a little help from phind on this one */
button.arrow-button {
    color: rgb(30, 0, 96);
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    padding: 5px 13px;
    border-radius: 15px;
    background-color: aqua;
    margin-left: 2px;
    margin-top: 135px;
    font-size: large;
    cursor: pointer;
  }
  .arrow-button:hover { 
    border: 1px solid black;
    padding: 5px 13px;
    border-radius: 15px;
    background-color: rgb(101, 116, 116);
  }
  .arrow-button:active {
    border: 1px solid rgb(0, 0, 0);
    padding: 3px 13px;
    border-radius: 15px;
    background-color: rgb(0, 133, 133);
    margin-left: 1px;
    margin-right: 1px;
  }
  

 /* this is the software that I am most familier with section */
.knowledge {
  display: flex;
  flex-direction: column;
  background-color: lightpink;
  border: 2px solid deeppink;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}
/* explanation of section */
.knowledge h4 {
  font-size: large;
  font-style: italic;
}
.knowledge p {
  background-color: paleturquoise;
}

/* this is the grid of software */
.grid {
  margin-top: 25px;
  text-align: center;
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 10px;} /* Adjust the gap between items as needed */
.grid-item {
position: relative;
margin: 8%;
}
.grid .grid-item img{
  width: 80%;
  height: auto;
}
/* got assistance from phind on this one, its purpose is to allow the image to change positions when page size changes  */



@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* stack the items vertically */
  }

  .text-block {
    margin-left: 0; /* remove the spacing between the image and text */
  }

  header nav{
    display: none;
  }

  .about-me {
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .knowledge {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
@media (max-width: 430px) {
 .grid{
  grid-template-columns: repeat(2, 1fr);
}
}
